* {
    box-sizing: border-box;
  }
  
  .c-header__item {
    display: flex;
    flex: 1;
    flex-direction: row nowrap;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #809eb6;
  }
  
  .c-header__button__item {
    float: left;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .c-header__greetings__item {
    float: left;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  
  .c-header__button {
    background-color: #809eb6;
    color: white;
    width: 70%;
    height: 40%;
    border-radius: 15px;
    border: none;
    font-size: 1em;
    font-weight: 300;
  }
  
  @media screen and (max-width: 1160px) {
    .c-header__greetings__item {
      display: none;
    }
  
    .c-header__button__item {
      width: 100%;
    }
  }
  
  @media screen and (max-height: 600px) {
    .c-header__greetings__item {
      display: none;
    }
  
    .c-header__button__item {
      width: 100%;
    }
  }